/* Font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: "#161824";
  --secondary: "#F9BF3B";
}

/* NAVBAR */
.nav__secondary {
  @apply hover:text-secondary transition duration-300 px-4;
}

.nav__dropdown {
  @apply group hidden absolute items-center text-left space-y-3 pt-8 bg-main pl-2 pr-10 py-3 group-hover:block;
}

.nav__dropdownmenu {
  @apply block whitespace-nowrap hover:text-secondary transition duration-300;
}

.nav__mobile {
  @apply text-sm font-medium hover:text-secondary transition duration-300;
}

.tap__highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* BUTTON */

.btn {
  @apply font-Poppins rounded-full cursor-pointer font-normal;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn--primary {
  @apply text-white bg-main bg-opacity-90 border-0 focus:outline-none;
}

.btn--primary--outlined {
  @apply text-white border-2 border-white focus:outline-none;
}

.btn--secondary {
  @apply text-main bg-secondary border-0 focus:outline-none;
}

.btn--medium {
  @apply px-6 py-3 text-base w-96;
}

.btn--small {
  @apply px-4 py-2 text-sm w-44;
}
